@import "./mixins";

// commons
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-size: 100%;
}

.container {
   width: 90%;
   max-width: 1600px;
   margin: 0 auto;
}

.main-container {
   @include flex($align: flex-start);
   padding-top: 30px;
}
