@import "../mixins";

.posts {
   margin-top: 30px;

   .post {
      width: 100%;
      margin-bottom: 50px;
      border: 1px solid var(--lightgray);

      .post-header {
         @include flex($justify: space-between);
         padding: 10px 20px;

         & > div {
            @include flex($gap: 10px);

            img {
               width: 35px;
               height: 35px;
               padding: 2px;
               border: 2px solid #c700c7;
               border-radius: 50%;
               cursor: pointer;
            }
         }
      }

      .post-image {
         width: 100%;
      }

      .post-footer {
         padding: 10px;

         .icon {
            font-size: 1.3em;
            margin-right: 15px;
         }

         .icon-red {
            color: #ff0000;
         }

         .container-likes {
            @include flex($justify: flex-start, $gap: 10px);
            margin: 10px 0;

            .img-like {
               width: 25px;
               height: 25px;
               border-radius: 50%;
            }
         }

         .caption {
            margin-bottom: 10px;
         }

         button,
         .time {
            color: var(--gray);
         }

         .time {
            display: block;
            font-size: 0.8em;
            margin-top: 10px;
         }
      }

      .input-container {
         @include flex($justify: inherit);
         height: 40px;
         padding: 20px 10px;
         border-top: 1px solid var(--lightgray);

         input {
            width: 90%;
            font-size: 0.9em;
            border: none;
         }

         button {
            font-size: 1em;
            color: var(--blue);
         }
      }
   }
}
