@import "../mixins";

.stories {
   @include flex($justify: flex-start, $gap: 10px);
   width: 100%;
   padding: 20px;
   border: 1px solid var(--lightgray);
   overflow: scroll;

   .storie {
      text-align: center;
      min-width: 80px;
      width: 80px;
      max-width: 80px;
      cursor: pointer;

      .img-storie {
         width: 50px;
         height: 50px;
         padding: 2px;
         border: 2px solid #c700c7;
         border-radius: 50%;
      }

      .container-open-storie {
         position: fixed;
         top: 0;
         left: 50%;
         transform: translateX(-50%);
         width: 100vw;
         height: 100vh;
         background-color: rgba(106, 106, 106, 0.8);
         cursor: initial;

         span {
            position: absolute;
            top: 15px;
            left: 20px;
            font-size: 1.7em;
            color: #ffffff;
            background-color: #545454;
            padding: 5px 10px;
            border-radius: 50%;
            cursor: pointer;
         }

         img {
            margin-top: 75px;
            width: 90%;
            height: 80%;
         }
      }

      span {
         font-size: 0.7em;
      }
   }
}
